* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,
html {
	height: 100%;
}
a {
	font-size: 14px;
	line-height: 1.7;
	color: #666;
	margin: 0;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}
a:focus {
	outline: none !important;
}
a:hover {
	text-decoration: none;
	color: #57b846;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
p {
	font-size: 14px;
	line-height: 1.7;
	color: #666;
	margin: 0;
}
ul,
li {
	margin: 0;
	list-style-type: none;
}
input {
	outline: none;
	border: none;
}
textarea {
	outline: none;
	border: none;
}
input.input100:focus {
	border-color: rgb(222 66 81);
}
input.input100:focus::-webkit-input-placeholder {
	color: transparent;
}
input.input100:focus:-moz-placeholder {
	color: transparent;
}
input.input100:focus::-moz-placeholder {
	color: transparent;
}
input.input100:focus:-ms-input-placeholder {
	color: transparent;
}
input.input100::-webkit-input-placeholder {
	color: #999;
}
input.input100:-moz-placeholder {
	color: #999;
}
input.input100::-moz-placeholder {
	color: #999;
}
input.input100:-ms-input-placeholder {
	color: #999;
}
button.login100-form-btn {
	outline: none !important;
	border: none;
}
button.login100-form-btn:hover {
	cursor: pointer;
}
iframe {
	border: none !important;
}
.txt1 {
	font-size: 13px;
	line-height: 1.5;
	color: #999;
}
.txt2 {
	font-size: 13px;
	line-height: 1.5;
	color: #666;
}
.limiter {
	width: 100%;
	margin: 0 auto;
}
.eye-css {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
.container-login100 {
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
	background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
	background: #f8f7fa;
}
.wrap-login100 {
	position: relative;
	width: fit-content;
	box-shadow: 0 1px 8px rgb(165 163 174 / 83%);
	border-radius: 0.375rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 40px 50px;
	align-items: center;
	z-index: 15;
}
.wrap-login100::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 0;
	top: 0;
	left: 0;
	border-radius: 0.325rem;
}
.login100-form {
	width: 330px;
}
.login100-form-title {
	font-weight: 600;
	font-size: 24px;
	color: #c02026;
	line-height: 1.2;
	text-align: center;
	width: 100%;
	display: block;
	padding-bottom: 8px;
	position: relative;
}
.login100-form-subtitle {
	text-align: center;
	display: block;
	margin-bottom: 10px;
	font-size: 16px;
	color: #6f6b70;
	position: relative;
}
.wrap-input100 {
	position: relative;
	width: 100%;
	z-index: 1;
	margin-bottom: 10px;
}
.input100 {
	font-size: 15px;
	line-height: 1.5;
	color: #666;
	display: block;
	width: 100%;
	background: #fff;
	height: 50px;
	border: 1px solid #c5c4c6;
	border-radius: 6px;
	padding: 0 40px 0 30px;
	text-indent: 16px;
}
.focus-input100 {
	display: block;
	position: absolute;
	border-radius: 6px;
	bottom: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	box-shadow: 0 0;
	color: rgb(222 66 81);
}
.input100:focus + .focus-input100 {
	-webkit-animation: anim-shadow 0.5s ease-in-out forwards;
	animation: anim-shadow 0.5s ease-in-out forwards;
}
@-webkit-keyframes anim-shadow {
	to {
		box-shadow: 0 0 70px 25px;
		opacity: 0;
	}
}
@keyframes anim-shadow {
	to {
		box-shadow: 0 0 70px 25px;
		opacity: 0;
	}
}
.symbol-input100 {
	font-size: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	position: absolute;
	border-radius: 25px;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-left: 22px;
	pointer-events: none;
	color: #666;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}
.input100:focus + .focus-input100 + .symbol-input100 {
	color: #df4856;
	padding-left: 22px;
}
.container-login100-form-btn {
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 0px;
	overflow: hidden;
}
.login100-form-btn {
	font-size: 15px;
	line-height: 1.5;
	color: #fff;
	text-transform: uppercase;
	width: 100%;
	height: 50px;
	border-radius: 6px;
	background: #c02026;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 25px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}
.login100-form-btn:hover {
	background: #333;
}

.login-icon1 {
	position: absolute;
	top: -65px;
	left: -45px;
	z-index: -1;
}
.login-icon2 {
	position: absolute;
	z-index: -1;
	bottom: -61px;
	right: -56px;
}

@media (max-width: 1024px) {
	.wrap-login100::before,
	.login-icon2,
	.login-icon1 {
		display: none;
	}
}
@media (max-width: 992px) {
	.wrap-login100 {
		padding: 177px 90px 33px 85px;
	}
	.login100-pic {
		width: 35%;
	}
	.login100-form {
		width: 50%;
	}
}
@media (max-width: 768px) {
	.wrap-login100 {
		padding: 100px 80px 33px;
	}
	.login100-pic {
		display: none;
	}
	.login100-form {
		width: 100%;
	}
}
@media (max-width: 576px) {
	.wrap-login100 {
		padding: 33px 15px 33px;
		border-radius: 12px;
	}
}
.validate-input {
	position: relative;
}
.alert-validate::before {
	content: attr(data-validate);
	position: absolute;
	max-width: 70%;
	background-color: #fff;
	border: 1px solid #c80000;
	border-radius: 13px;
	padding: 4px 25px 4px 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 8px;
	pointer-events: none;
	font-family: Poppins-Medium;
	color: #c80000;
	font-size: 13px;
	line-height: 1.4;
	text-align: left;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	transition: opacity 0.4s;
}
.alert-validate::after {
	content: "\f06a";
	font-family: FontAwesome;
	display: block;
	position: absolute;
	color: #c80000;
	font-size: 15px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 13px;
}
.alert-validate:hover:before {
	visibility: visible;
	opacity: 1;
}
@media (max-width: 992px) {
	.alert-validate::before {
		visibility: visible;
		opacity: 1;
	}
}

/* Login */
.login-box {
	width: 320px;
}
.login-box .card .login-card-body {
	padding: 30px 20px;
	border-radius: 0.25rem;
}
.login-box .card .login-card-body .login-box-msg {
	color: #686f75;
	font-size: 16px;
	padding-bottom: 1rem;
	text-transform: capitalize;
}
.login-box .card .login-card-body .input-group .form-control {
	border-right: 1px solid #ced4da;
}
.login-box .card .login-card-body .input-group .form-control:focus {
	border-color: #80bdff !important;
}
.login-box
	.card
	.login-card-body
	.input-group
	.login-input-group-append
	.input-group-text {
	border: 1px solid #ced4da !important;
	border-right: 0px !important;
	border-top-left-radius: 0.25rem !important;
	border-bottom-left-radius: 0.25rem !important;
}
.login-view-website {
	position: absolute;
	background-color: #1c1f22;
	width: 100%;
	left: 0px;
	top: 0px;
	text-align: center;
	color: #fff;
	padding: 0.5rem 0.5rem;
	font-size: 13px !important;
}
.login-view-website a {
	color: #fff !important;
	opacity: 0.8;
}
.login-view-website a:hover {
	opacity: 1;
}
.login-view-website a i {
	font-size: 11px;
}
.login-copyright {
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 0px;
	text-align: center;
	padding: 0.5rem 0.5rem;
	font-size: 13px !important;
}
.login100-pic {
	border-radius: 0.325rem;
	overflow: hidden;
	position: relative;
}
.show-password {
	cursor: pointer;
	width: 45px;
	border-color: #ced4da !important;
	padding: 0.375rem;
	justify-content: center;
}
.show-password.disabled {
	pointer-events: none;
	background-color: #e9ecef !important;
}
